@import 'https://fonts.googleapis.com/css2?family=Inter+Display:wght@100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap';
@import 'tailwindcss';

@theme {
	--breakpoint-*: initial;

	--breakpoint-xs: 320px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 810px;
	--breakpoint-lg: 1200px;
	--breakpoint-xl: 1440px;
	--breakpoint-2xl: 1536px;
	--breakpoint-3xl: 1920px;

	--font-inter: 'Inter Display', system-ui, sans-serif;
	--font-sans: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	--font-serif: 'Instrument Serif', 'Instrument Serif Placeholder', serif;
}

:root {
	font-family: var(--font-inter), var(--font-sans), Avenir, Helvetica, Arial, sans-serif;

	font-weight: 400;

	color-scheme: light dark;
	color: #000;
	background-color: #d9d9d9;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: rgba(255, 55, 1, 1);
	color: #000000;
}

::-moz-selection {
	background-color: rgba(255, 55, 1, 1);
	color: #000000;
}

@keyframes smoothVerticalMarquee {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.animate-vertical-marquee {
    animation-name: smoothVerticalMarquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
}


body {
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}
